<div class="profile-page">
  <div class="wrapper">
    <div class="page-header-blog page-header-small blog" filter-color="blue">
      <div
        class="page-header-image"
        data-parallax="true"
        style="background-image: url('assets/images/seastone.jpg')"
      >
        <div class="container">
          <div class="content-center">
            <h1 class="h2 title">Tyler's Blog</h1>
            <p>
              Hello and welcome to my tech blog. My name is Tyler, I'm a
              software developer of many years. One thing I wish I did better
              was to ducument my learning journey, and that is what this blog
              stives to rectify. My interests are mostly in Enterprise sofware
              development, but I also enjoy linux and open source software as
              well. Cheers!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
